{
    "db_connection": {
        "host": "10.138.22.223",
        "port": "1521",
        "service_name": "edw"
        },

    "db_auth": {
        "dbuser": "etl",
        "dbpassword": "etl"
    },

    "src_file_path": "/data/hrydata",
    "dst_file_path": "/data/mv_hrydata",
    "log_path": "/data/log/cfdata_log/xindaigongchang",
    "separator": ",",
    "separator2": "\""

}